<h1>this is sign IN page</h1>
<p>{{error}}</p>
<form ng-submit="signin()" name="signinForm">
    <p>{{err}}</p>

    <p>
        Email:<input type="email" name="email" placeholder="Email" ng-model="userData.email" required><br>
                 <span style="color:red" ng-show="signinForm.email.$dirty && signinForm.email.$invalid">
                 <span ng-show="signinForm.email.$error.required">Email is required.</span>
                 <span ng-show="signinForm.email.$error.email">Invalid email address.</span>
                 </span>

    </p>

    <p>
        Password:<input type="password" name="password" placeholder="Password" ng-model="userData.password"
                 ng-minlength="5" ng-maxlength="20" required><br>
                <span style="color:red" ng-show="signinForm.password.$dirty && signinForm.password.$invalid">
                <span ng-show="signinForm.password.$error.required">Password is required.</span>
                <span ng-show="signinForm.password.$error.minlength">Less than 5</span>
                <span ng-show="signinForm.password.$error.maxlength">Over 20</span>
                </span>
    </p>


    <input type="checkbox" ng-model="r" ng-click="rememberMe()">Remember me

    <button type="submit" ng-disabled="signinForm.password.$error.minlength
                                       || signinForm.password.$error.minlength
                                       || signinForm.password.$error.required
                                       || signinForm.email.$error.email
                                       || signinForm.email.$error.required">Submit</button><br>


    <a target="_self" href="/auth/google">Google+</a>
    <a target="_self" href="/auth/facebook">Facebook</a>
    <br>
    <a ui-sref="forgot">Forgot password</a>
</form>